https://scikit-learn.org/stable/modules/generated/sklearn.metrics.balanced_accuracy_score.html

#MBGD-UR

In [2]:
#Impor Library SK - Fuzzy
import numpy as np
import matplotlib.pyplot as plt
import warnings
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score

warnings.filterwarnings('ignore')

In [7]:
df_aktual=pd.read_excel('aktual.xlsx')
df_aktual.head()

   kelas
0      1
1      0
2      4
3      0
4      4

In [19]:
a_mbgd_ur=df_aktual.to_numpy()

In [20]:
df_mbgd_ur=pd.read_excel('mbgd_ur.xlsx')
df_mbgd_ur.head()

   pred_u
0       3
1       3
2       3
3       3
4       3

In [21]:
b_mbgd_ur=df_mbgd_ur.to_numpy()

In [22]:
balanced_accuracy_score(a_mbgd_ur, b_mbgd_ur)

0.2

In [ ]:
#y_true = [1, 0, 4, 0, 4, 3, 3, 1, 0, 1, 0, 0, 3, 3, 3, 3, 4, 3, 2, 2, 3, 2, 2, 2, 1, 0, 0, 3, 0, 0, 1, 0, 1, 3, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 0, 1, 0, 0, 1, 0, 1]
#y_pred = [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [ ]:
#balanced_accuracy_score(y_true, y_pred)

0.2

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

In [25]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(a_mbgd_ur, b_mbgd_ur)

array([[ 0,  0,  0, 45,  0],
       [ 0,  0,  0, 35,  0],
       [ 0,  0,  0, 41,  0],
       [ 0,  0,  0, 62,  0],
       [ 0,  0,  1, 68,  0]])

https://intellipaat.com/blog/confusion-matrix-python/#Recall-or-Sensitivity

In [26]:
from sklearn. metrics import classification_report

In [27]:
print(classification_report(a_mbgd_ur, b_mbgd_ur))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        45
           1       0.00      0.00      0.00        35
           2       0.00      0.00      0.00        41
           3       0.25      1.00      0.40        62
           4       0.00      0.00      0.00        69

    accuracy                           0.25       252
   macro avg       0.05      0.20      0.08       252
weighted avg       0.06      0.25      0.10       252

In [ ]:
pip install pandas_ml

Collecting pandas_ml
  Downloading pandas_ml-0.6.1-py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 3.5 MB/s
Collecting enum34
  Downloading enum34-1.1.10-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.0->pandas_ml) (1.15.0)
Installing collected packages: enum34, pandas-ml
Successfully installed enum34-1.1.10 pandas-ml-0.6.1

#MBGD-A

In [28]:
df_aktual=pd.read_excel('aktual.xlsx')
df_aktual.head()

   kelas
0      1
1      0
2      4
3      0
4      4

In [29]:
a_mbgd_a=df_aktual.to_numpy()

In [30]:
df_mbgd_a=pd.read_excel('mbgd_a.xlsx')
df_mbgd_a.head()

   mbgd_a
0       1
1       1
2       1
3       1
4       1

In [31]:
b_mbgd_a=df_mbgd_a.to_numpy()

In [32]:
balanced_accuracy_score(a_mbgd_a, b_mbgd_a)

0.20975609756097563

#MBGD-BN

In [33]:
df_aktual=pd.read_excel('aktual.xlsx')
df_aktual.head()

   kelas
0      1
1      0
2      4
3      0
4      4

In [34]:
a_mbgd_bn=df_aktual.to_numpy()

In [35]:
df_mbgd_bn=pd.read_excel('mbgd_bn.xlsx')
df_mbgd_bn.head()

   mbgd_bn
0        4
1        4
2        4
3        4
4        4

In [36]:
b_mbgd_bn=df_mbgd_bn.to_numpy()

In [37]:
balanced_accuracy_score(a_mbgd_bn, b_mbgd_bn)

0.19710144927536233

#SGD-UR

In [38]:
df_aktual=pd.read_excel('aktual.xlsx')
df_aktual.head()

   kelas
0      1
1      0
2      4
3      0
4      4

In [39]:
a_sgd_ur=df_aktual.to_numpy()

In [40]:
df_sgd_ur=pd.read_excel('sgd_ur.xlsx')
df_sgd_ur.head()

   sgd_ur
0       4
1       4
2       3
3       4
4       4

In [41]:
b_sgd_ur=df_sgd_ur.to_numpy()

In [42]:
balanced_accuracy_score(a_sgd_ur, b_sgd_ur)

0.207807386629266

#SGD-A

In [44]:
df_aktual=pd.read_excel('aktual.xlsx')
df_aktual.head()

   kelas
0      1
1      0
2      4
3      0
4      4

In [45]:
a_sgd_a=df_aktual.to_numpy()

In [46]:
df_sgd_a=pd.read_excel('sgd_a.xlsx')
df_sgd_a.head()

   sgd_a
0      3
1      4
2      3
3      4
4      4

In [47]:
b_sgd_a=df_sgd_a.to_numpy()

In [48]:
balanced_accuracy_score(a_sgd_a, b_sgd_a)

0.19906498363721364

#SGD-BN

In [49]:
df_aktual=pd.read_excel('aktual.xlsx')
df_aktual.head()

   kelas
0      1
1      0
2      4
3      0
4      4

In [50]:
a_sgd_bn=df_aktual.to_numpy()

In [51]:
df_sgd_bn=pd.read_excel('sgd_bn.xlsx')
df_sgd_bn.head()

   sgd_bn
0       3
1       3
2       3
3       3
4       3

In [52]:
b_sgd_bn=df_sgd_bn.to_numpy()

In [53]:
balanced_accuracy_score(a_sgd_bn, b_sgd_bn)

0.2028985507246377